/*---------------------------------------- Global Code Sample styles ---------------------------------*/

div.code-sample
{
	clear: both;
	font-weight: normal;
	text-shadow: none;
	font-family: courier, monospace;
	margin-top: 17px;
	font-size: 36px;
	line-height: 1.3em;
	border-right: 1px solid #181818;
	border-bottom: 1px solid #181818;
}
	
	div.code-sample ul:first-of-type
	{
		background-color: #dedede;
		color: #888888;
		width: 34px;
		padding: 16px 14px 16px 0px;
		display: inline-block;
		height: 100%;
		text-align: right;
		border-right: 1px solid #8e8e8e;
	}
	
	div.code-sample ul:last-of-type
	{
		
		display: inline-block;
	}
	
	div.code-sample li
	{
		list-style: none outside;
	}
	
	div.code-sample ul:last-of-type li
	{
		text-indent: 1.5em;
	}
		
		div.code-sample ul:last-of-type li.indent-0
		{
			text-indent: 0;
		}
		
		div.code-sample ul:last-of-type li.indent-2
		{
			text-indent: 3em;
		}
		
		div.code-sample ul:last-of-type li.indent-3
		{
			text-indent: 4.5em;
		}
		div.code-sample ul:last-of-type li.indent-4
		{
			text-indent: 6em;
		}
	
	div.code-sample ul:last-of-type li:first-child,
	div.code-sample ul:last-of-type li:last-child,
	div.code-sample ul:last-of-type li.comment + li
	{
		text-indent: 0px;
	}
	
/*---------------------------------------- Theme specific colors -------------------------------------*/

	div.code-sample.dawn
	{
		background-color: #f1f1f1;
		color: #080808;
	}
	
	div.code-sample.dawn .comment
	{
		color: #626262;
	}
	
	div.code-sample.dawn .selector-pseudo
	{
		color: #bc1d3b;
	}
	
	div.code-sample.dawn .selector-media
	{
		color: #004fa8;
	}
	
	div.code-sample.dawn .media-type
	{
		color: #029b80;
	}
	
	div.code-sample.dawn .media-exp
	{
		color: #a81c00;
	}
	
	div.code-sample.dawn .property
	{
		color: #691c97;
	}
	
	div.code-sample.dawn .highlight
	{
		background-color: #f0ff89;
	}
	
	div.code-sample.dawn .value-text
	{
		color: #b43753;
	}
	
	div.code-sample.dawn .value-string
	{
		color: #0b6153;
	}
	
	div.code-sample.dawn .value-int
	{
		color: #811f24;
	}
	
	div.code-sample.dawn .value-func
	{
		color: #693a17;
	}
	
	div.code-sample.dawn .value-param
	{
		color: #234aa3;
	}
	
/*----------------------------------------------- Demo Area ------------------------------------------*/

div.demo
{
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	padding: 9px;
	
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(25, 25, 25, 1)), 
									color-stop(0.5, rgba(25, 25, 25, 1)), color-stop(0.05, rgba(6, 6, 6, 1)));
	
	background-image: -moz-linear-gradient(top, rgba(25, 25, 25, 1), rgba(25, 25, 25, 1), rgba(6, 6, 6, 1));
	background-color: rgba(25, 25, 25, 1);
}

/*--------------------------------------------- Selector Demos ---------------------------------------*/

#things p, #links a
{
	width: 308px;
	height: 80px;
	display: inline-block;
	text-align: center;
	line-height: 2.8em;
	font-size: 28px;
	background-color: rgba(255, 255, 255, 0.1);
	margin-right: 3px;
}

	#things p:nth-of-type(2) 
	{
		background-color: #0a0a0a;
		color: #860b0b;
	}
	
	#things p:last-of-type,
	#links a:last-of-type
	{
		margin-right: 0px;
	}
	
#links a
{
	text-decoration: none;
	color: #fff;
}
	
	#links a[href*="dribb"] 
	{
		background-color: #ec0064;
	}
	
	#links a[href*="red"] 
	{
		background-color: #5f99cf;
	}

/*------------------------------------------------- Text Demos ---------------------------------------*/

#flow
{
	color: #d4bca8;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 72px;
}

#demo-shadow
{
	color: #6ce841;
	text-align: center;
	font-size: 80px;
}

	#glowstick
	{
		text-shadow: rgba(164, 255, 132, 0.8) 0px 0px 15px;
	}

/*----------------------------------------------- Staples Demos --------------------------------------*/

#rounded, #circles
{
	font-size: 80px;
	text-align: center;
	background-color: #f1f1f1;
	color: #170d16;
}

	#rounded
	{
		-webkit-border-radius: 22px;
		-moz-border-radius: 22px;
		border-radius: 22px;
	}
	
#circles
{
	text-indent: 22px;
	text-align: left;
}

	#circles span
	{
		position: relative;
		top: 5px;
		background-color: #170d16;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
		display: inline-block;
		width: 65px;
		height: 65px;
	}
	
#multi
{
	color: #fff;
	font-size: 60px;
	text-align: center;
	line-height: 6.2em;
	text-shadow: #000 0px 0px 1px;
	height: 226px;
	background-image: url(../images/multi_bg_01.jpg), url(../images/multi_bg_02.jpg), url(../images/multi_bg_03.jpg);
	background-repeat: no-repeat;
	background-position: left top, 291px top, 617px top;
}

#wradient
{
	font-size: 30px;
	padding: 60px 20px;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(#840084), to(#0f000f));
}

#rad-wradient
{
	font-size: 30px;
	padding: 60px 20px;
	text-align: center;
	background: -webkit-gradient(radial, 50% 80%, 30, 50% 80%, 200, from(#840084), to(#0f000f));
}

#mozient
{
	font-size: 30px;
	padding: 60px 20px;
	text-align: center;
	background: -moz-linear-gradient(top, #840084, #0f000f);
	
	background: -webkit-gradient(linear, left top, left bottom, from(#840084), to(#0f000f));
}

#rad-mozient
{
	font-size: 30px;
	padding: 60px 20px;
	text-align: center;
	background: -moz-radial-gradient(circle, #840084 10%, #0f000f 80%);
	
	background: -webkit-gradient(radial, 50% 80%, 30, 50% 80%, 200, from(#840084), to(#0f000f));
}
	
/*--------------------------------------------- Transitions Demos ------------------------------------*/

#transition-hello p
{
	font-size: 150px;
	color: #97bbca;
	text-align: center;
	opacity: 0.2;
	position: relative;
	top: 20;
}

#hello-world
{
	-webkit-transition: top 0.3s ease-out, opacity 0.4s linear;
}

	#hello-world:hover
	{
		-webkit-transition: top 0.3s ease-out, opacity 0.2s linear;
		top: -10px;
		opacity: 1;
	}

/*--------------------------------------------- Animations Demos -------------------------------------*/

#whoa
{
	font-size: 60px;
	background-color: #2d948e;
	width: 200px;
	text-align: center;
	border-radius: 5px;
	position: relative;
}

	#whoa.whoaBlink
	{
		width: auto;
	}

.whoaSlide
{
	-webkit-animation-name: whoa-slide;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes whoa-blink
{
	0% {
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

.whoaBlink
{
	-webkit-animation-name: whoa-blink;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes whoa-slide
{
	0% {
		left: 0;
	}
	
	50% {
		left: 744px;
	}
	
	100% {
		left: 0;
	}
}
	
/*--------------------------------------------- Transforms Demos -------------------------------------*/

.transform-text
{
	color: #e7dcf0;
	text-align: center;
	font-size: 88px;
}

.rotated
{
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
}

.scaled
{
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
}

.skewed
{
	-webkit-transform: skewX(25deg);
	-moz-transform: skewX(25deg);
}

table 
{
	width: 100%;
	font-weight: normal;
	color: #000;
	font-size: 24px;
	background-color: #fff;
	border: 1px solid #b7b7b7;
	border-collapse: collapse;
}
	
	table td
	{
		border-right: 1px solid #ccc;
		padding: 6px 10px;
	}

	.zebra tbody tr:nth-child(odd)
	{
		background-color: #e1f3ff;
	}
	
	.headers thead td
	{
		font-weight: bold;
		background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#cfcfcf));
		background: -moz-linear-gradient(top, #fcfcfc, #cfcfcf);
		text-shadow: #ffffff 1px 1px 1px;
		border-bottom: 1px solid #919191;
		border-right: 1px solid #616161;
	}
	
	.right-align tr td:nth-of-type(2),
	.right-align tr td:nth-of-type(4)
	{
		width: 140px;
		text-align: right;
	}
	
	.headers thead td.active
	{
		background: -webkit-gradient(linear, left top, left bottom, from(#d9ebf7), to(#7099b6));
		background: -moz-linear-gradient(top, #d9ebf7, #7099b6);
	}